@import 'variables';

.blogCard {
	transition: box-shadow .25s;
	margin: 1%;
	padding: 2%;
	box-shadow: $box-shadow;
	background-color: $light-text-color;
	color: $dark-text-color;
	width: 100%;
	height: 300px;
	overflow: auto;


	.card-img {
		position: relative;

		img {
			display: block;
			border-radius: 2px 2px 0 0;
			position: relative;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
		}
	}
}

.blogtitle {
	text-align: center;
}

.blogauthor {
	text-align: center;
}

.blogdate {
	text-align: center;
}

.jobCard {
	transition: box-shadow .50s;
	width: 100%;
	margin: 2%;
	box-shadow: $box-shadow;
	background-color: $light-text-color;
	color: $dark-text-color;
	font-family: $paragraph-font-family;
	height: 400px;

	.card-img {
		position: relative;

		img {
			float: left;
			width: 25%;
			justify-content: center;
			clear: left;
		}
	}

	.job-title {
	font-size: $job-title-font-size;
	width: 100%;
	float: right;
	text-align: center;
	}

	.jobInfo {
	width: 75%;
	height: 75%;
	float: right;
	text-align: left;
	padding-top: 2%;
	font-size: $job-description-font-size;
	}
}