.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }

 .social {
     -webkit-transform: scale(0.8);
 }

 #social-li:hover {
     color: #4099FF;
 }

 #social-gh:hover {
     color: #d34836;
 }

 #social-em:hover {
     color: #f39c12;
 }

.footer {
    float: right;
    margin-top: -5%;
}

#pageTitle {
    margin-left: 2%;
    color: white;
    float: left;
}

.topRow {
    padding-bottom: 10%;
}