@import 'variables';

#pageTitle {
	padding-bottom: 1%;
	color: $title-color;
	font-size: $title-font-size;
}

.card-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $light-text-color;
	padding: 4% 7% 4% 7%;
}

.display-3, .jumbotron {
	text-align: center;
	background-color: $light-text-color;
	font-family: $paragraph-font-family;
}

#blogContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $light-text-color;
	padding: 4% 7% 4% 7%;
	margin-bottom: 5%;
}
