
.projects {
    display: flex;
	flex-flow: row wrap;
    margin: 4%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 54%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(181,198,208,1)), color-stop(54%, rgba(216,225,231,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 54%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 54%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 54%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 54%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0eff9', GradientType=1 );
}

.screenshot img {
    width: 100%;
    -webkit-box-shadow: 12px 14px 10px -12px rgba(79,79,79,1);
    -moz-box-shadow: 12px 14px 10px -12px rgba(79,79,79,1);
    box-shadow: 12px 14px 10px -12px rgba(79,79,79,1);
}

.projectDetails {
	border-radius: 2px;
}

.col-centeredportfolio {
	float: none;
	margin: 0 auto;
	width: 75%;
}

