
$title-color: #D5DD93;
$nav-color: #333976;
$nav-background: #0D5860;
$neutral-color: slategray;
$light-text-color: white;
$dark-text-color: black;

$title-font-size: 2em;
$job-title-font-size: 2em;
$job-description-font-size: .5em;
$paragraph-font-family: 'Open Sans';
$nav-font-family: 'Passion One', cursive;


$projectDescriptionFontSize: 10px;

$box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.14), 4px 3px 7px 0 rgba(0, 0, 0, 0.12), 0 17px 2px -22px rgba(0, 0, 0, 0.2);

