@import 'variables';
@import 'aboutlayout';
@import 'nav';
@import 'footer';
@import 'bloglayout';
@import 'portfoliolayout';
@import 'resumelayout';
@import 'images';
@import 'animations';

body {
    background-color: $color4;
    color: white;
    font-family: 'Merriweather';
}




