@import 'variables';
@import 'aboutlayout';
@import 'nav';
@import 'footer';
@import 'bloglayout';
@import 'portfoliolayout';
@import 'resumelayout';
@import 'images';
@import 'animations';

body {
    font-family: 'Actor';
    color: black;
}

.background {
    background-color: #FFFCFF;
    color: black;
}



