<div class="container" ng-controller="AboutCtrl">
    <div class="row aboutme">
        <div class="col-sm-7 col-centered">
                <div class="col-sm-6 aboutmetextandpic">
                    <img src="./images/gina.jpg">
                </div>
                <div class="col-sm-6 aboutmetext">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices vel metus posuere congue. Nam vel vehicula tortor, in hendrerit sem. Nulla facilisi. In rutrum a purus in egestas. Aenean nisl augue, lacinia at mattis ac, semper et lorem. Nunc ipsum massa, blandit sit amet bibendum sit amet, aliquam sed erat. In ut tellus urna. Donec ultricies ante a volutpat congue. Duis sit amet pulvinar nisi, sit amet ultricies risus. Nullam eget lacinia nunc. Donec id ultricies dolor. Integer quis leo orci. Integer porttitor, eros nec placerat ullamcorper, nunc nunc lobortis tellus, ac fermentum purus velit sed neque. Aenean quis volutpat urna. Nunc et velit tincidunt, egestas odio at, consequat libero.</h5>
                        
                    <h5>Sed rutrum dapibus urna. Fusce commodo ex ac leo mollis, eget egestas velit egestas. Vivamus sed odio eu neque vestibulum ultricies aliquam a sem. Vestibulum tellus felis, interdum in auctor ac, scelerisque id diam. Nulla eleifend magna vel erat aliquam, nec ullamcorper turpis rutrum. Pellentesque ac nisi finibus, volutpat nisl sed, porta risus. Quisque mollis orci vel elit gravida suscipit. Duis et elit in velit condimentum lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h5>
                </div>
            </div>
        </div>
    </div>
</div>