<div class="container" ng-controller="AboutCtrl">
    <div class="row aboutme">
        <div class="col-sm-7 col-centered">
                <div class="col-sm-6 aboutmetextandpic">
                    <img src="./images/gina.jpg">
                </div>
                <div class="col-sm-6 aboutmetext">
                    <h5>Through self-reflection I have learned that happiness is surrendering to my curiosities.  So, I have spent the last 10 years doing that--following my strong desire to try many different routes in life.  Some paths were fruitful in feelings and memories: transforming into Maureen onstage in the musical RENT, performing as a coffeehouse musician, immersing myself in the works of Carulli, J.S.Bach, and Tarrega as a classical guitar student.</h5>
                    <h5>Other paths were hard work. As a small business owner and woodworker, I handbuilt over 100 pieces of furniture for Nashville Software School, supplying the school with desks and tables upon its move to a new building.  I also worked for years in the property management industry, an occupation that exhausted me mentally and emotionally, but led me into my current role as a Director of Operations--a position that encapsulates everything I am innately drawn to do: visualize the big picture, organize, and execute on the "action" part of an idea.</h5>
                    <h5>Building is a common theme in all of the above stories. I am All Of The Above and now I am a student of web development, too. The only difference is that now I'm learning how to build ideas on a screen, instead of on an instrument or in a woodshop.</h5>
                </div>
            </div>
        </div>
    </div>
</div>