<div class="aboutme" id="aboutContainer" ng-controller="AboutCtrl">
    <div>
        <img class="portrait" src="./images/gina.jpg">
        <h3>Hi, I'm Gina</h3>
        <h5>I'm a Director of Operations, a woodworking hobbyist, and current student at Nashville Software School. As I'm nearing the end of the first half of the Full-Stack developer program, I'm packing the following technologies in my developer toolbox:</h5>
        <li>Angular</li><li>Bootstrap</li><li>Browserify</li><li>Jquery</li><li>Grunt</li><li>Sass</li>
    </div>
</div>