
<div class="container-fluid" ng-controller="BlogCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="blogblock">
                    <h4>As a student at NSS, I created a blog to discuss objectives, goals, and to document the learning process. Below you'll find my front end blog entries. These were written as I learned the following technologies and topics:</h4>
                    </div>
              </div>
                <div class="row blogs">
                    <div class="col-md-4" ng-repeat="blog in blogs">
                        <div class="thumbnail blog">
                          <img class="blogimage" src="{{blog.image}}">
                            <h3 class="blogtitle">{{blog.title}}</h3>
                            <div class="caption">
                                <h4 class="blogauthor">{{blog.author}}</h4>
                                <h4 class="blogdate">{{blog.date}}</h4>
                                <p class="blogContent">{{blog.content}}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
</div>
