<div class="container" ng-controller="PortfolioCtrl">
        <div ng-repeat="project in projects" class="projects">
            <div class="col-sm-7 col-centeredportfolio">
                <div class="col-sm-6 screenshot">
                    <img src="{{project.screenshot}}">
                </div>
                <div class="col-sm-6 projectDetails">
                    <p class="projectDescription">{{project.description}}</p>
                    <p class="projectLink"><a>{{project.github}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>