<div id="jobContainer" ng-controller="ResumeCtrl">
    <h1>Professional Experience</h1>
    <div ng-repeat="job in jobs">
        <h2 class="job-title col-sm-6">{{job.title}}</h2>
        <div class='card-img'>
            <img src="{{job.image}}">
        </div>
        <div class="col-sm-6">
            <h3 class="dates">{{job.dates}}</h3>
        </div>
        <div class="jobInfo col-sm-6">
            <p class="jobDescription">{{job.description}}</p>
        </div>
    </div>
    <hr class="my-4">
    <p class="lead">
    </p>
</div>