
/*GENERAL STYLING ALL PAGES BODY & H1 TAG */

/*body {
	background-image: url("nashvilleskyline.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	z-index: 2;
}*/


body {
	z-index: 1;
}

h1 {
	text-align: center;
}

/*RESUME PAGE GENERAL STYLING*/

#director-of-operations, #owner, #program-manager, #operations-manager {
	position: center;
	padding: 3%;
	border: 2px solid black;
}

.resume {
	background-color: white;
	background-position: center center;
	margin: 21% 4% 3% 4%;
	z-index: 3;
}

/*		NAVIGATION STYLING     */

ul {
	list-style: none;
}

.navbar-light {
	background-color: #3adfce;
}

.navbar {
	text-align: center;
	margin: 0;

}

.navbar a {
	display: inline-block;
	text-decoration: none;
}

.navbar li {
	display: inline;
}

.navbar li a:hover {
	color: white;
	background-color: black;
}

.navbar li a:active {
	padding: 0 5px 0 5px;
}

.social a:link, visited, hover, active {
    text-decoration: none;
}


/*   CONTACT PAGE SOCIAL MEDIA ICON STYLING     */

.fa {
  padding: 20px;
  color: white;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: red;
  background-size: 1 1 1 1;
}

.fa {
  opacity: 0.7;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	background-color: white;
	background-position: center center;
	margin: 15% 0% 20% 0%;
}

/*BLOG PAGE GENERAL STYLING*/

.blogg {
	width: 300px;
    height: 250px;
    overflow: hidden;
	font-family: 'Vibur';
}

.hidden {
	display: none;
}

/*FOOTER STYLING*/

.footer {
	text-align: center;
	color: white;
}


