.blogCard {
  transition: box-shadow .25s;
  margin: 1%;
  padding: 2%;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.14), 4px 3px 7px 0 rgba(0, 0, 0, 0.12), 0 17px 2px -22px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: black;
  width: 100%;
  height: 300px;
  overflow: auto; }
  .blogCard .card-img {
    position: relative; }
    .blogCard .card-img img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%; }

.blogtitle {
  text-align: center; }

.blogauthor {
  text-align: center; }

.blogdate {
  text-align: center; }

.jobCard {
  transition: box-shadow .50s;
  width: 100%;
  margin: 2%;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.14), 4px 3px 7px 0 rgba(0, 0, 0, 0.12), 0 17px 2px -22px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: black;
  font-family: "Open Sans";
  height: 400px; }
  .jobCard .card-img {
    position: relative; }
    .jobCard .card-img img {
      float: left;
      width: 25%;
      justify-content: center;
      clear: left; }
  .jobCard .job-title {
    font-size: 2em;
    width: 100%;
    float: right;
    text-align: center; }
  .jobCard .jobInfo {
    width: 75%;
    height: 75%;
    float: right;
    text-align: left;
    padding-top: 2%;
    font-size: 0.5em; }

.navbar {
  background-color: #0D5860;
  font-family: "Passion One", cursive;
  font-size: 2em;
  padding: 40px; }

ul {
  list-style: none; }

.navbar-brand {
  font-size: 2em;
  margin: 0; }

.nav-link {
  color: white; }

.navbar a {
  display: inline-block;
  text-decoration: none; }

.navbar li {
  color: white; }

.navbar-nav > li {
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 55px;
  margin-right: 55px;
  max-width: 100%; }

.navbar li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: slategray;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px; }

.navbar li a:active {
  padding: 10px 10px 10px 10px; }

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

.social {
  -webkit-transform: scale(0.8); }

#social-li:hover {
  color: #4099FF; }

#social-gh:hover {
  color: #d34836; }

#social-em:hover {
  color: #f39c12; }

#pageTitle {
  padding-bottom: 1%;
  color: #D5DD93;
  font-size: 2em; }

.card-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 4% 7% 4% 7%; }

.display-3, .jumbotron {
  text-align: center;
  background-color: white;
  font-family: "Open Sans"; }

#blogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 4% 7% 4% 7%;
  margin-bottom: 5%; }
