#rightside {
  width: 50%;
  margin: 0 auto; }

.techButtons {
  width: 75%;
  margin: 0 auto; }

.ginanavbar {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  padding: 0;
  text-align: center;
  color: white; }

.ginanavbar li {
  display: inline;
  color: white; }

.ginanavbar a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white; }

.ginanavbar a:hover {
  color: grey; }

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

.social {
  -webkit-transform: scale(0.8); }

#social-li:hover {
  color: #4099FF; }

#social-gh:hover {
  color: #d34836; }

#social-em:hover {
  color: #f39c12; }

.footer {
  float: right;
  margin-top: -5%; }

#pageTitle {
  margin-left: 2%;
  color: white;
  float: left; }

.topRow {
  padding-bottom: 10%; }

.portrait {
  width: 50%;
  float: left;
  border-radius: 2%;
  display: block;
  margin: auto; }

img {
  width: 30%;
  border-radius: 2%; }

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1; }

body {
  background-color: #3f535d;
  color: white;
  font-family: 'Merriweather'; }
